EP/eps-wsrf701f.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:ew="http://schemas.ggf.org/rss/2006/00/eps-wsrf"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="eps-wsrf"
    targetNamespace="http://schemas.ggf.org/rss/2006/00/eps-wsrf"
    xmlns:wsrf-rp="http://docs.oasis-open.org/wsrf/rp-1"
    xmlns:rw="http://docs.oasis-open.org/wsrf/rw-1">
    <wsdl:documentation>
        This describes the details of the rendering of the Execution
        Planning Service using the WS-ResourceFramework.

        Copyright &#x00a9; 2006, Global Grid Forum
    </wsdl:documentation>
    <!-- Need to check the copyright and get the full copyright statement in here. -->
    <wsdl:import namespace="http://docs.oasis-open.org/wsrf/rp-1"
        location="../wsrf/resourceproperties/rp-1.xsd" />
    <wsdl:import namespace="http://docs.oasis-open.org/wsrf/rw-1"
        location="../wsrf/resource/rw-1.wsdl" />
    <wsdl:types>
        <xsd:schema
            targetNamespace="http://schemas.ggf.org/rss/2006/00/eps-wsrf">
            <xsd:include schemaLocation="eps-wsrf.xsd" />
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="GetExecutionPlans">
        <wsdl:documentation>
            This message requests that the Execution Planning Service
            generate an set of plans for executing a job. The set of
            plans MUST be ordered according to the scoring function
            described within the message or, if that is absent, the
            service's default.
        </wsdl:documentation>
        <wsdl:part element="ew:GetExecutionPlans"
            name="GetExecutionPlans" />
    </wsdl:message>
    <wsdl:message name="GetExecutionPlansResult">
        <wsdl:documentation>
            This message contains either the ordered set of plans (if
            that is a 'small' set) or a reference to a service that
            manages a much larger set of plans such that you can
            retrieve the results a bit at a time.
        </wsdl:documentation>
        <wsdl:part element="ew:GetExecutionPlansResult"
            name="GetExecutionPlansResponse" />
    </wsdl:message>
    <wsdl:message name="GetMorePlans">
        <wsdl:documentation>
            This is message sent to retrieve part of a set of plans when
            operating in partial-transfer mode.
        </wsdl:documentation>
        <wsdl:part name="GetMorePlans" element="ew:GetMorePlans" />
    </wsdl:message>
    <wsdl:message name="GetMorePlansResult">
        <wsdl:documentation>
            This message holds plans sent when doing a partial transfer.
        </wsdl:documentation>
        <wsdl:part name="GetMorePlansResult"
            element="ew:GetMorePlansResult" />
    </wsdl:message>
    <wsdl:message name="UnsupportedOrderingLanguageFault">
        <wsdl:documentation>
            Fault thrown if the EPS cannot handle the submitted
            candidate ordering language.
        </wsdl:documentation>
        <wsdl:part name="UnsupportedOrderingLanguageFault"
            element="ew:UnsupportedOrderingLanguageFault" />
    </wsdl:message>
    <wsdl:message name="BadPlanCardinalityRulesFault">
        <wsdl:documentation>
            Fault thrown if an attempt to violate the rules on plan
            cardinality is made.
        </wsdl:documentation>
        <wsdl:part name="BadPlanCardinalityRulesFault"
            element="ew:BadPlanCardinalityRulesFault" />
    </wsdl:message>
    <wsdl:message name="NoPlansAvailableFault">
        <wsdl:documentation>
            Fault thrown if no plans area available.
        </wsdl:documentation>
        <wsdl:part name="NoPlansAvailableFault"
            element="ew:NoPlansAvailableFault" />
    </wsdl:message>
    <wsdl:message name="UnableToGeneratePlansFault">
        <wsdl:documentation>
            Fault thrown if it is impossible to generate plans for some
            other reason not covered by the other faults.
        </wsdl:documentation>
        <wsdl:part name="UnableToGeneratePlansFault"
            element="ew:UnableToGeneratePlansFault" />
    </wsdl:message>
    <wsdl:portType name="ExecutionPlanner"
        wsrf-rp:ResourceProperties="ew:EPSProperties">
        <wsdl:documentation>
            The execution planner port-type describes the real core of
            the EPS specification, as rendered using WSRF.
        </wsdl:documentation>
        <wsdl:operation name="GetExecutionPlans">
            <wsdl:input message="ew:GetExecutionPlans" />
            <wsdl:output message="ew:GetExecutionPlansResult" />
            <wsdl:fault name="UnsupportedOrderingLanguageFault"
                message="ew:UnsupportedOrderingLanguageFault" />
            <wsdl:fault name="BadPlanCardinalityRulesFault"
                message="ew:BadPlanCardinalityRulesFault" />
            <wsdl:fault name="NoPlansAvailableFault"
                message="ew:NoPlansAvailableFault" />
            <wsdl:fault name="UnableToGeneratePlansFault"
                message="ew:UnableToGeneratePlansFault" />
            <wsdl:fault name="ResourceUnknownFault"
                message="rw:ResourceUnknownFault" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="ExecutionPlannerResult"
        wsrf-rp:ResourceProperties="ew:EPSResultProperties">
        <wsdl:documentation>
            The execution planner result port-type is used to implement
            partial transfers of results.
        </wsdl:documentation>
        <wsdl:operation name="GetMorePlans">
            <wsdl:input message="ew:GetMorePlans" />
            <wsdl:output message="ew:GetMorePlansResult" />
            <wsdl:fault name="BadPlanCardinalityRulesFault"
                message="ew:BadPlanCardinalityRulesFault" />
            <wsdl:fault name="NoPlansAvailableFault"
                message="ew:NoPlansAvailableFault" />
            <wsdl:fault name="UnableToGeneratePlansFault"
                message="ew:UnableToGeneratePlansFault" />
            <wsdl:fault name="ResourceUnknownFault"
                message="rw:ResourceUnknownFault" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="eps-wsrfSOAP" type="ew:ExecutionPlanner">
        <soap:binding style="document"
            transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="GetExecutionPlans">
            <soap:operation
                soapAction="http://schemas.ggf.org/rss/2006/00/eps-wsrf/GetExecutionPlans" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="UnsupportedOrderingLanguageFault">
                <soap:fault
                    namespace="http://schemas.ggf.org/rss/2006/00/eps-wsrf"
                    use="literal"
                    name="UnsupportedOrderingLanguageFault" />
            </wsdl:fault>
            <wsdl:fault name="BadPlanCardinalityRulesFault">
                <soap:fault
                    namespace="http://schemas.ggf.org/rss/2006/00/eps-wsrf"
                    use="literal" name="BadPlanCardinalityRulesFault" />
            </wsdl:fault>
            <wsdl:fault name="NoPlansAvailableFault">
                <soap:fault
                    namespace="http://schemas.ggf.org/rss/2006/00/eps-wsrf"
                    use="literal" name="NoPlansAvailableFault" />
            </wsdl:fault>
            <wsdl:fault name="UnableToGeneratePlansFault">
                <soap:fault
                    namespace="http://schemas.ggf.org/rss/2006/00/eps-wsrf"
                    use="literal" name="UnableToGeneratePlansFault" />
            </wsdl:fault>
            <wsdl:fault name="ResourceUnknownFault">
                <soap:fault
                    namespace="http://schemas.ggf.org/rss/2006/00/eps-wsrf"
                    use="literal" name="ResourceUnknownFault" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <!-- Is the wsdl:service element really needed? -->
    <wsdl:binding name="eps-wsrf-resultSOAP"
        type="ew:ExecutionPlannerResult">
        <soap:binding style="document"
            transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="GetMorePlans">
            <soap:operation
                soapAction="http://schemas.ggf.org/rss/2006/00/eps-wsrf/GetMorePlans" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="BadPlanCardinalityRulesFault">
                <soap:fault
                    namespace="http://schemas.ggf.org/rss/2006/00/eps-wsrf"
                    use="literal" name="BadPlanCardinalityRulesFault" />
            </wsdl:fault>
            <wsdl:fault name="NoPlansAvailableFault">
                <soap:fault
                    namespace="http://schemas.ggf.org/rss/2006/00/eps-wsrf"
                    use="literal" name="NoPlansAvailableFault" />
            </wsdl:fault>
            <wsdl:fault name="UnableToGeneratePlansFault">
                <soap:fault
                    namespace="http://schemas.ggf.org/rss/2006/00/eps-wsrf"
                    use="literal" name="UnableToGeneratePlansFault" />
            </wsdl:fault>
            <wsdl:fault name="ResourceUnknownFault">
                <soap:fault
                    namespace="http://schemas.ggf.org/rss/2006/00/eps-wsrf"
                    use="literal" name="ResourceUnknownFault" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="eps-wsrf">
        <wsdl:documentation>
            The same service should always implement the two EPS
            port-types. The locations specified here are arbitrary
            though; callers should know who they are talking to
            independent of this specification, and the reference to the
            EPSResult port type is transferred to the client as an
            endpoint reference.
        </wsdl:documentation>
        <wsdl:port binding="ew:eps-wsrfSOAP" name="eps-wsrfSOAP">
            <soap:address location="http://localhost/" />
        </wsdl:port>
        <wsdl:port name="eps-wsrf-resultSOAP"
            binding="ew:eps-wsrf-resultSOAP">
            <soap:address location="http://localhost/" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
