RE/resource-usage-porttypeb4d7.wsdl

<wsdl:definitions name="resourceusage" 
	targetNamespace="http://www.gridforum.org/2005/rus-wg/service"
	xmlns="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:intf="http://www.gridforum.org/2005/rus-wg/service"
	xmlns:types="http://www.gridforum.org/2005/rus-wg/service/types"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:urwg="http://www.gridforum.org/2003/ur-wg"
	xmlns:rus="http://www.gridforum.org/2005/rus-wg/types" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <types>
        <xsd:schema
            targetNamespace="http://www.gridforum.org/2005/rus-wg/service/types"
            elementFormDefault="qualified"
            attributeFormDefault="qualified"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	    xmlns:rus="http://www.gridforum.org/2005/rus-wg/types"
	    xmlns:urwg="http://www.gridforum.org/2003/ur-wg"
            xmlns:ds="http://www.w3.org/2000/09/xmldsig#"
	    xmlns="http://www.w3.org/2001/XMLSchema">

            <xsd:import namespace="http://www.gridforum.org/2003/ur-wg" schemaLocation="./urwg-schema-11.xsd" />
            <xsd:import namespace="http://www.gridforum.org/2005/rus-wg/types" schemaLocation="./RUS.xsd" />
			
            <xsd:element name="RusInputFault" type="xsd:string"/>
            <xsd:element name="RusProcessingFault" type="xsd:string"/>
            <xsd:element name="RusUserNotAuthorisedFault" type="xsd:string"/>

            <xsd:element name="recordListOperationResponse" >
                <xsd:complexType>
                    <xsd:sequence>
			<xsd:element ref="rus:OperationResult"/>
			<xsd:element ref="rus:RUSRecordIdList"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

<xsd:element name="insertUsageRecordsRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="records" type="urwg:UsageRecordType" minOccurs="1" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	    </xsd:element>


           <xsd:simpleType name="xPathQuery" type="xsd:string"/>

            <xsd:element name="extractRUSUsageRecordsResponse">
		<xsd:complexType>
		    <xsd:sequence>
			<xsd:element ref="rus:OperationResult"/>
			<xsd:element name="Records" type="rus:RUSUsageRecordType" minOccurs="0" maxOccurs="unbounded"/>
		    </xsd:sequence>
		</xsd:complexType>
	    </xsd:element>

            <xsd:element name="extractRUSRecordIdsResponse">
		<xsd:complexType>
		    <xsd:sequence>
			<xsd:element ref="rus:OperationResult"/>
			<xsd:element ref="rus:RUSRecordIdList" minOccurs="0" maxOccurs="unbounded"/>
		    </xsd:sequence>
		</xsd:complexType>
	    </xsd:element>
	    
	    <xsd:element name="replaceUsageRecordsRequest" >
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="rus:ReplacementRecords"/>
			</xsd:sequence>
		</xsd:complexType>
	    </xsd:element>

            <xsd:element name="deleteRecordsRequest" type="types:xPathQuery"/>

            <xsd:element name="extractRUSUsageRecordsRequest" type="types:xPathQuery"/>
            <xsd:element name="extractRUSRecordIdsRequest" type="types:xPathQuery"/>
            <xsd:element name="deleteSpecificRecordsRequest" type="rus:RUSRecordIdListType"/>
            <xsd:element name="extractRUSUsageRecordsRequest" type="rus:RUSRecordIdListType"/>

            <xsd:element name="incrementUsageRecordPartRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="RUSRecordId" type="xsd:long"/>
                                <xsd:element name="path" type="types:xPathQuery"/>
				<xsd:element name="increment" type="xsd:long"/>				
			</xsd:sequence>
		</xsd:complexType>
	    </xsd:element>

            <xsd:element name="incrementUsageRecordPartResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="rus:OperationResult"/>
                                <xsd:element name="modified" type="xsd:boolean" minOccurs="0" />			
			</xsd:sequence>
		</xsd:complexType>
	    </xsd:element>

            <xsd:element name="modifyUsageRecordPartRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="RUSRecordId" type="xsd:long"/>
                        <xsd:element name="XUpdate" type="types:xPathQuery"/>	
			</xsd:sequence>
		</xsd:complexType>
	    </xsd:element>

            <xsd:element name="listMandatoryUsageRecordElementsResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="rus:OperationResult"/>
                                <xsd:element name="MandatoryElements" type="rus:MandatoryElementsType" minOccurs="0"/>			
			</xsd:sequence>
		</xsd:complexType>
	    </xsd:element>

            <xsd:element name="modifyUsageRecordPartResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="rus:OperationResult"/>
                                <xsd:element name="XUpdateResults" type="xsd:boolean" minOccurs="0"/>			
			</xsd:sequence>
		</xsd:complexType>
	    </xsd:element>

           <xsd:element name="listMandatoryUsageRecordElementsRequest">
		<xsd:complexType>
			<xsd:sequence>
                                <xsd:element name="request" type="xsd:boolean" minOccurs="0"/>			
			</xsd:sequence>
		</xsd:complexType>
	    </xsd:element>

       </xsd:schema>
   </types>

    <wsdl:message name="RusUserNotAuthorisedFaultMessage">
	<part name="FaultDiagnostic" element="types:RusUserNotAuthorisedFault"/>
    </wsdl:message>
    
    <wsdl:message name="RusInputFaultMessage">
	<part name="FaultDiagnostic" element="types:RusInputFault"/>
    </wsdl:message>
    
    <wsdl:message name="RusProcessingFaultMessage">
	<part name="FaultDiagnostic" element="types:RusProcessingFault"/>
    </wsdl:message>

    <wsdl:message name="listMandatoryUsageRecordElementsInput"/>
    <wsdl:message name="listMandatoryUsageRecordElementsOutput">
        <wsdl:part name="output" element="types:listMandatoryUsageRecordElementsResponse"/>
    </wsdl:message>

    <wsdl:message name="insertUsageRecordsOutput">
        <wsdl:part name="output" element="types:recordListOperationResponse"/>
    </wsdl:message>

    <wsdl:message name="deleteRecordsOutput">
        <wsdl:part name="output" element="types:recordListOperationResponse"/>
    </wsdl:message>

    <wsdl:message name="deleteSpecificRecordsOutput">
        <wsdl:part name="output" element="types:recordListOperationResponse"/>
    </wsdl:message>

    <wsdl:message name="extractRUSRecordIdsOutput">
        <wsdl:part name="output" element="types:extractRUSRecordIdsResponse"/>
    </wsdl:message>

    <wsdl:message name="extractRecordsOutput">
        <wsdl:part name="output" element="types:extractRecordsResponse"/>
    </wsdl:message>

    <wsdl:message name="extractSpecificRUSRecordsOutput">
        <wsdl:part name="output" element="types:extractRecordsResponse"/>
    </wsdl:message>
  
    <wsdl:message name="incrementUsageRecordPartOutput">
        <wsdl:part name="parameters" element="types:incrementUsageRecordPartResponse"/>
    </wsdl:message>

    <wsdl:message name="modifyUsageRecordPartOutput">
        <wsdl:part name="parameters" element="types:modifyUsageRecordPartResponse"/>
    </wsdl:message>

    <wsdl:message name="replaceUsageRecordsOutput">
        <wsdl:part name="parameters" element="types:recordListOperationResponse"/>
    </wsdl:message>

    <wsdl:message name="insertUsageRecordsInput">
        <wsdl:part name="parameters" element="types:insertUsageRecordsRequest"/>
    </wsdl:message>

    <wsdl:message name="deleteRecordsInput">
        <wsdl:part name="parameters" element="types:deleteRecordsRequest"/>
    </wsdl:message>

    <wsdl:message name="deleteSpecificRecordsInput">
        <wsdl:part name="parameters" element="types:deleteSpecificRecordsRequest"/>
    </wsdl:message>

    <wsdl:message name="extractRUSRecordIdsInput">
        <wsdl:part name="parameters" element="types:extractRUSRecordIdsRequest"/>
    </wsdl:message>

    <wsdl:message name="extractRecordsInput">
        <wsdl:part name="parameters" element="types:extractRecordsRequest"/>
    </wsdl:message>

    <wsdl:message name="extractSpecificRUSRecordsInput">
        <wsdl:part name="parameters" element="types:extractSpecificRUSRecordsRequest"/>
    </wsdl:message>

    <wsdl:message name="incrementUsageRecordPartInput">
        <wsdl:part name="parameters" element="types:incrementUsageRecordPartRequest"/>
    </wsdl:message>

    <wsdl:message name="modifyUsageRecordPartInput">
        <wsdl:part name="parameters" element="types:modifyUsageRecordPartRequest"/>
    </wsdl:message>

    <wsdl:message name="replaceUsageRecordsInput">
        <wsdl:part name="parameters" element="types:replaceUsageRecordsRequest"/>
    </wsdl:message>

    <wsdl:portType name="ResourceUsagePortType" >
        <wsdl:operation name="listMandatoryUsageRecordElements" >
            <wsdl:input message="intf:listMandatoryUsageRecordElementsInput" />
            <wsdl:output message="intf:listMandatoryUsageRecordElementsOutput" />
            <fault name="RusUserNotAuthorisedFault" message="intf:RusUserNotAuthorisedFaultMessage"/>
            <fault name="RusProcessingFault" message="intf:RusProcessingFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="insertUsageRecords" >
            <wsdl:input message="intf:insertUsageRecordsInput" />
            <wsdl:output message="intf:insertUsageRecordsOutput" />
            <fault name="RusUserNotAuthorisedFault" message="intf:RusUserNotAuthorisedFaultMessage"/>
            <fault name="RusProcessingFault" message="intf:RusProcessingFaultMessage"/>
        </wsdl:operation>
        
        <wsdl:operation name="extractRecords" >
            <wsdl:input message="intf:extractRecordsInput" />
            <wsdl:output message="intf:extractRecordsOutput" />
            <fault name="RusUserNotAuthorisedFault" message="intf:RusUserNotAuthorisedFaultMessage"/>
            <fault name="RusProcessingFault" message="intf:RusProcessingFaultMessage"/>
        </wsdl:operation>

        <wsdl:operation name="extractRUSRecordIds" >
            <wsdl:input message="intf:extractRUSRecordIdsInput" />
            <wsdl:output message="intf:extractRUSRecordIdsOutput" />
            <fault name="RusUserNotAuthorisedFault" message="intf:RusUserNotAuthorisedFaultMessage"/>
            <fault name="RusProcessingFault" message="intf:RusProcessingFaultMessage"/>
        </wsdl:operation>

        <wsdl:operation name="extractSpecificRUSRecords" >
            <wsdl:input message="intf:extractSpecificRUSRecordsInput" />
            <wsdl:output message="intf:extractSpecificRUSRecordsOutput" />
            <fault name="RusUserNotAuthorisedFault" message="intf:RusUserNotAuthorisedFaultMessage"/>
            <fault name="RusProcessingFault" message="intf:RusProcessingFaultMessage"/>
        </wsdl:operation>

        <wsdl:operation name="deleteSpecificRecords" >
            <wsdl:input message="intf:deleteSpecificRecordsInput" />
            <wsdl:output message="intf:deleteSpecificRecordsOutput" />
            <fault name="RusUserNotAuthorisedFault" message="intf:RusUserNotAuthorisedFaultMessage"/>
            <fault name="RusProcessingFault" message="intf:RusProcessingFaultMessage"/>
        </wsdl:operation>

        <wsdl:operation name="deleteRecords" >
            <wsdl:input message="intf:deleteRecordsInput" />
            <wsdl:output message="intf:deleteRecordsOutput" />
            <fault name="RusUserNotAuthorisedFault" message="intf:RusUserNotAuthorisedFaultMessage"/>
            <fault name="RusProcessingFault" message="intf:RusProcessingFaultMessage"/>
        </wsdl:operation>

        <wsdl:operation name="incrementUsageRecordPart" >
            <wsdl:input message="intf:incrementUsageRecordPartInput" />
            <wsdl:output message="intf:incrementUsageRecordPartOutput" />
            <fault name="RusUserNotAuthorisedFault" message="intf:RusUserNotAuthorisedFaultMessage"/>
            <fault name="RusProcessingFault" message="intf:RusProcessingFaultMessage"/>
        </wsdl:operation>

        <wsdl:operation name="modifyUsageRecordPart" >
            <wsdl:input message="intf:modifyUsageRecordPartInput" />
            <wsdl:output message="intf:modifyUsageRecordPartOutput" />
            <fault name="RusUserNotAuthorisedFault" message="intf:RusUserNotAuthorisedFaultMessage"/>
            <fault name="RusProcessingFault" message="intf:RusProcessingFaultMessage"/>
            <fault name="RusInputFault" message="intf:RusInputFaultMessage"/>
        </wsdl:operation>
 
        <wsdl:operation name="replaceUsageRecords" >
            <wsdl:input message="intf:replaceUsageRecordsInput" />
            <wsdl:output message="intf:replaceUsageRecordsOutput" />
            <fault name="RusUserNotAuthorisedFault" message="intf:RusUserNotAuthorisedFaultMessage"/>
            <fault name="RusProcessingFault" message="intf:RusProcessingFaultMessage"/>
        </wsdl:operation>
    </wsdl:portType>   
</wsdl:definitions>