re/resource-usage-servicebe9f.wsdl

<definitions name="resourceusage" 
    targetNamespace="http://www.gridforum.org/2005/rus-wg/service"
    xmlns="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:tns="http://www.gridforum.org/2005/rus-wg/service"
    xmlns:porttype="http://www.gridforum.org/2005/rus-wg/service"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" >

    <import location="./resource-usage-porttype.wsdl"  
        namespace="http://www.gridforum.org/2005/rus-wg/service"/>

    <binding name="ResourceUsagePortTypeSOAPBinding" type="porttype:ResourceUsagePortType">
        <documentation>SOAP Binding for the ResourceUsagePortType</documentation>
        <soap:binding style="document" 
            transport="http://schemas.xmlsoap.org/soap/http"/>
<operation name="listMandatoryUsageRecordElements">
            <soap:operation 
                soapAction="ResourceUsagePortType#listMandatoryUsageRecordElements"/>
	    <input>
		<soap:body use="literal"/>
	    </input>
            <output>
            	<soap:body use="literal"/>
            </output>
            <fault name="RusUserNotAuthorisedFault">
            	<soap:fault name="RusUserNotAuthorisedFault" use="literal"/> 
            </fault>
            <fault name="RusProcessingFault">
            	<soap:fault name="RusProcessingFault" use="literal"/> 
            </fault>
        </operation> 
<operation name="insertUsageRecords">
            <soap:operation 
                soapAction="ResourceUsagePortType#insertUsageRecords"/>
            <input>
            	<soap:body use="literal"  />
            </input>
            <output>
            	<soap:body use="literal"  />
            </output>
            <fault name="RusUserNotAuthorisedFault">
            	<soap:fault name="RusUserNotAuthorisedFault" use="literal"/> 
            </fault>
            <fault name="RusProcessingFault">
            	<soap:fault name="RusProcessingFault" use="literal"/> 
            </fault>
        </operation>
        
        <operation name="extractRecords">
            <soap:operation 
                soapAction="ResourceUsagePortType#extractRecords"/>
            <input>
            	<soap:body use="literal"  />
            </input>
            <output>
            	<soap:body use="literal"  />
            </output>
            <fault name="RusUserNotAuthorisedFault">
            	<soap:fault name="RusUserNotAuthorisedFault" use="literal"/> 
            </fault>
            <fault name="RusProcessingFault">
            	<soap:fault name="RusProcessingFault" use="literal"/> 
            </fault>
        </operation>
        <operation name="extractRUSRecordIds">
            <soap:operation 
                soapAction="ResourceUsagePortType#extractRUSRecordIds"/>
            <input>
            	<soap:body use="literal"  />
            </input>
            <output>
            	<soap:body use="literal"  />
            </output>
            <fault name="RusUserNotAuthorisedFault">
            	<soap:fault name="RusUserNotAuthorisedFault" use="literal"/> 
            </fault>
            <fault name="RusProcessingFault">
            	<soap:fault name="RusProcessingFault" use="literal"/> 
            </fault>
        </operation>
        <operation name="extractSpecificRUSRecords">
            <soap:operation 
                soapAction="ResourceUsagePortType#extractSpecificRUSRecords"/>
            <input>
            	<soap:body use="literal"  />
            </input>
            <output>
            	<soap:body use="literal"  />
            </output>
            <fault name="RusUserNotAuthorisedFault">
            	<soap:fault name="RusUserNotAuthorisedFault" use="literal"/> 
            </fault>
            <fault name="RusProcessingFault">
            	<soap:fault name="RusProcessingFault" use="literal"/> 
            </fault>
        </operation>        
        <operation name="deleteRecords">
            <soap:operation 
                soapAction="ResourceUsagePortType#deleteRecords"/>
            <input>
            	<soap:body use="literal"  />
            </input>
            <output>
            	<soap:body use="literal"  />
            </output>
            <fault name="RusUserNotAuthorisedFault">
            	<soap:fault name="RusUserNotAuthorisedFault" use="literal"/> 
            </fault>
            <fault name="RusProcessingFault">
            	<soap:fault name="RusProcessingFault" use="literal"/> 
            </fault>
        </operation>
        <operation name="deleteSpecificRecords">
            <soap:operation 
                soapAction="ResourceUsagePortType#deleteSpecificRecords"/>
            <input>
            	<soap:body use="literal"  />
            </input>
            <output>
            	<soap:body use="literal"  />
            </output>
            <fault name="RusUserNotAuthorisedFault">
            	<soap:fault name="RusUserNotAuthorisedFault" use="literal"/> 
            </fault>
            <fault name="RusProcessingFault">
            	<soap:fault name="RusProcessingFault" use="literal"/> 
            </fault>
        </operation>
        <operation name="incrementUsageRecordPart">
            <soap:operation 
                soapAction="ResourceUsagePortType#incrementUsageRecordPart"/>
            <input>
            	<soap:body use="literal"  />
            </input>
            <output>
            	<soap:body use="literal"  />
            </output>
            <fault name="RusUserNotAuthorisedFault">
            	<soap:fault name="RusUserNotAuthorisedFault" use="literal"/> 
            </fault>
            <fault name="RusProcessingFault">
            	<soap:fault name="RusProcessingFault" use="literal"/> 
            </fault>
        </operation>
        <operation name="modifyUsageRecordPart">
            <soap:operation 
                soapAction="ResourceUsagePortType#modifyUsageRecordPart"/>
            <input>
            	<soap:body use="literal"  />
            </input>
            <output>
            	<soap:body use="literal"  />
            </output>
            <fault name="RusUserNotAuthorisedFault">
            	<soap:fault name="RusUserNotAuthorisedFault" use="literal"/> 
            </fault>
            <fault name="RusProcessingFault">
            	<soap:fault name="RusProcessingFault" use="literal"/> 
            </fault>
            <fault name="RusInputFault">
            	<soap:fault name="RusInputFault" use="literal"/> 
            </fault>
        </operation> 
        <operation name="replaceUsageRecords">
            <soap:operation 
                soapAction="ResourceUsagePortType#replaceUsageRecords"/>
            <input>
            	<soap:body use="literal"  />
            </input>
            <output>
            	<soap:body use="literal"  />
            </output>
             <fault name="RusUserNotAuthorisedFault">
            	<soap:fault name="RusUserNotAuthorisedFault" use="literal"/> 
            </fault>
            <fault name="RusProcessingFault">
            	<soap:fault name="RusProcessingFault" use="literal"/> 
            </fault>
       </operation>       
    </binding>
    <service name="ResourceUsageService">
        <port name="ResourceUsagePortTypeSOAPPort" 
            binding="tns:ResourceUsagePortTypeSOAPBinding">
            <soap:address location="http://localhost"/>
        </port>
    </service>
</definitions>